$ui.text.h1
	$fsz = 12em;
	font-size:$fsz;
	line-height:1.3em;
	letter-spacing:(.05em/$fsz);
	font-family:'Bebas';
	text-transform:uppercase;

$ui.text.h2
	$fsz = 3.6em;
	font-size:$fsz;
	line-height:(3.2em/$fsz);
	font-family:$font-second;
	font-weight:bold;

$ui.text.h3
	$fsz = 2.4em;
	font-size:$fsz;
	line-height:(3.2em/$fsz);
	font-family:$font-second;
	font-weight:bold;

$ui.text.h4
	$fsz = 1.6em;
	font-size:$fsz;
	line-height:(1.8em/$fsz);
	font-family:$font-second;
	font-weight:bold;
	text-transform:uppercase;
	letter-spacing:.1em;

$ui.text.h5
	$fsz = 1.3em;
	font-size:$fsz;
	font-family:$font-first;
	font-weight:bold;
	text-transform:uppercase;
	letter-spacing:.075em;