@import '~styles/env/entry.styl';
.button
	button-ghost(#164d57,#164d57,#fff);
	padding:1em;
	border-radius:1em;
	white-space:nowrap;
	font-size:inherit;
	& > *
		font-size:1.3em;
		text-transform:uppercase;
		font-weight:bold;
		letter-spacing:.075em;