@import '~styles/env/entry.styl';
.button
	button-ghost(#fff,rgba(#000,20%),#fff)
	padding:1em;
	border-radius:1em;
	white-space:nowrap;
	& > *
		font-size:1.3em;
		text-transform:uppercase;
		font-weight:bold;