@import '~styles/env/entry.styl';

.header
	background:#fff;

.area
	align-items:center;
	height:10em;
	flex-wrap:nowrap;
	+below($breakpoints.md)
		justify-content:space-between;

.socketLogo
	padding-left:$glb-half-gutter;
	padding-right:$glb-half-gutter;
	width:(100%/12*2);
	min-width:unit(14.6em + $glb-half-gutter,em)

.info
	display:flex;
	justify-content:flex-end;
	align-items:center;

.noMobile
	+below($breakpoints.md)
		display:none;
.noMobileLg
	+below($breakpoints.lg)
		display:none;

.burger
	display:flex;
	justify-content: flex-end;

.phone
	display:inline-block;
	line-height:3.2em;
	margin-right:2em;
	margin-left:2em;
	white-space:nowrap;
	& > *
		font-size:1.8em;
		font-family:$font-second;